<div class="card w-96 bg-base-200 shadow-2xl">
    <div class="card-body">
        <div class="w-full max-w-xs">
            <figure>
                <img [src]="selectedProduct.images" class="rounded-full h-75 w-75" alt="">
            </figure>
            <label class="label">
                <span class="label-text">Producto:</span>
                <span class="label-text-alt text-red-600">Data</span>
            </label>
            <input type="text" placeholder="Nombre del producto" [value]="selectedProduct.title"
                class="input input-bordered w-full max-w-xs input-sm" />
            <label class="label">
            </label>
            <label class="label">
                <span class="label-text">Precio:</span>
                <span class="label-text-alt text-red-600">Data</span>
            </label>
            <input type="text" placeholder="Precio del producto" [value]="selectedProduct.price"
                class="input input-bordered w-full max-w-xs input-sm" />
            <label class="label">
            </label>
            <label class="label">
                <span class="label-text">Descripcion:</span>
                <span class="label-text-alt text-red-600">Data</span>
            </label>
            <textarea name="" placeholder="Descripcion del producto" [value]="selectedProduct.description" id=""
                cols="30" rows="5"></textarea>
            <label class="label">
            </label>
            <label (click)="updateProduct()" class="btn btn-success btn-wide btn-sm text-white">Enviar</label>
        </div>
    </div>
</div>
<hr>
<div class="pl-20">
    <div class="overflow-x-auto">
        <table class="table table-compact w-full">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 fill-zinc-700">
                            <g id="_01_align_center" data-name="01 align center">
                                <path
                                    d="M15,24H9V20.487a9,9,0,0,1-2.849-1.646L3.107,20.6l-3-5.2L3.15,13.645a9.1,9.1,0,0,1,0-3.29L.107,8.6l3-5.2L6.151,5.159A9,9,0,0,1,9,3.513V0h6V3.513a9,9,0,0,1,2.849,1.646L20.893,3.4l3,5.2L20.85,10.355a9.1,9.1,0,0,1,0,3.29L23.893,15.4l-3,5.2-3.044-1.758A9,9,0,0,1,15,20.487Zm-4-2h2V18.973l.751-.194A6.984,6.984,0,0,0,16.994,16.9l.543-.553,2.623,1.515,1-1.732-2.62-1.513.206-.746a7.048,7.048,0,0,0,0-3.75l-.206-.746,2.62-1.513-1-1.732L17.537,7.649,16.994,7.1a6.984,6.984,0,0,0-3.243-1.875L13,5.027V2H11V5.027l-.751.194A6.984,6.984,0,0,0,7.006,7.1l-.543.553L3.84,6.134l-1,1.732L5.46,9.379l-.206.746a7.048,7.048,0,0,0,0,3.75l.206.746L2.84,16.134l1,1.732,2.623-1.515.543.553a6.984,6.984,0,0,0,3.243,1.875l.751.194Zm1-6a4,4,0,1,1,4-4A4,4,0,0,1,12,16Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z" />
                            </g>
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover" *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>
                        <div class="flex items-center space-x-3">
                            <div class="avatar">
                                <div class="mask mask-squircle"></div>
                                <img src="{{product.images}}" height="10px" width="10px">
                            </div>
                        </div>
                    </td>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <label for="my-modal-3" class="btn btn-sm btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 fill-red-500">
                                <g id="_01_align_center" data-name="01 align center">
                                    <path
                                        d="M22,4H17V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V6h2ZM9,2h6V4H9Zm9,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V6H18Z" />
                                    <rect x="9" y="10" width="2" height="8" />
                                    <rect x="13" y="10" width="2" height="8" />
                                </g>
                            </svg>
                        </label>

                        <input type="checkbox" id="my-modal-3" class="modal-toggle" />
                        <div class="modal">
                            <div class="modal-box relative rounded-sm">
                                <label for="my-modal-3"
                                    class="btn btn-sm btn-circle absolute right-2 top-2 bg-red-800 border-red-700">✕</label>
                                <h3 class="text-lg font-bold text-red-700 text-center">Deseas Eliminar</h3>
                                <p class="py-4">¿Estas Seguro? Esto no se podra deshacer</p>
                                <label class="btn btn-success btn-xs rounded-sm text-center"
                                    (click)="deleteProduct(product.id)">
                                    <span class="text-white">Aceptar</span>
                                </label>
                            </div>
                        </div>
                        <label class="btn btn-ghost btn-sm rounded-sm" (click)="editProduct(product)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 fill-green-600">
                                <g id="_01_align_center" data-name="01 align center">
                                    <path
                                        d="M5,19H9.414L23.057,5.357a3.125,3.125,0,0,0,0-4.414,3.194,3.194,0,0,0-4.414,0L5,14.586Zm2-3.586L20.057,2.357a1.148,1.148,0,0,1,1.586,0,1.123,1.123,0,0,1,0,1.586L8.586,17H7Z" />
                                    <path
                                        d="M23.621,7.622,22,9.243V16H16v6H2V3A1,1,0,0,1,3,2H14.758L16.379.379A5.013,5.013,0,0,1,16.84,0H3A3,3,0,0,0,0,3V24H18.414L24,18.414V7.161A5.15,5.15,0,0,1,23.621,7.622ZM18,21.586V18h3.586Z" />
                                </g>
                            </svg>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>